{% extends "PartyUpApp/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block scripts %}
<script src="{% static 'PartyUpApp/user_profile.js' %}" defer></script>
{% endblock scripts %}

{% block stylesheets %} 
<link rel="stylesheet" type="text/css" href="{% static 'PartyUpApp/user_profile.css' %}">
{% endblock stylesheets %} 

{% block content %}
<div class="col-xl-8 mx-auto">
    <!-- Account details card-->
    <div class="card" style="padding: 10px;">
        <div class="card-header">Account Details</div>
        <div class="card-body">
            <form method="POST" action="{% url 'partyupapp:change_password' %}">
                {% csrf_token %} 
                <label for="{{ form.old_password.id_for_label }}" class="form-label select-label">{{ form.old_password.label}}</label>
                {{ form.old_password.errors }}
                {% render_field form.old_password class+="form-control" aria-label="Old Password" id="oldPassword" name="old_password"%}
                <label for="{{ form.new_password1.id_for_label }}" class="form-label select-label">{{ form.new_password1.label }}</label>
                {{ form.new_password1.errors }}
                {% render_field form.new_password1 class+="form-control" aria-label="New Password" id="new_password1" name="new_password1"%}
                <label for="{{ form.new_password2.id_for_label }}" class="form-label select-label">{{ form.new_password2.label}}</label>
                {{ form.new_password2.errors }}
                {% render_field form.new_password2 class+="form-control form-input" aria-label="Confirm Password" id="new_password2" name="new_password2"%}
                
                <button type="submit" class="btn btn-primary" style="margin: 0; margin-top: 10px;" id="save-btn">Save</button>
                {% if user.is_vendor %}
                <a href="/partyup/vendor_profile"><button type="button" class="btn btn-danger" style="margin: 0; margin-top: 10px;">Back</button></a>
                {% else %}
                <a href="/partyup/user_profile"><button type="button" class="btn btn-danger" style="margin: 0; margin-top: 10px;">Back</button></a>
                {% endif %}
                {% if messages %}
                <ul class="list-group list-group-flush">
                    {% for message in messages %}
                    <li class="list-group-item">{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}