{% extends "PartyUpApp/base.html" %}
{% load static %}

{% block stylesheets %} 
<link rel="stylesheet" type="text/css" href="{% static 'PartyUpApp/contact.css' %}">
{% endblock stylesheets %} 

{% block content %}
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dina Kazemi Beidokhti</h5>
          <p class="card-text">Full-stack Developer</p>
          <p class="card-text">Email: exampledina@email.com</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Ricardo Akkari</h5>
            <p class="card-text">Full-stack Developer</p>
            <p class="card-text">Email: exampleric@email.com</p>
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dean Diamant</h5>
          <p class="card-text">Backend Developer</p>
          <p class="card-text">Email: exampledean@email.com</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Chris Ters</h5>
            <p class="card-text">Frontend Developer</p>
            <p class="card-text">Email: examplechris@email.com</p>
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Will Qiu</h5>
          <p class="card-text">Backend Developer</p>
          <p class="card-text">Email: examplewill@email.com</p>
        </div>
      </div>
    </div>
</div>

{% endblock %}
